
        body { font-family: "Hanuman", serif;
            font-weight: 100;
            font-style: normal;
    background-color: #f8f9fa;
    color: #333;
}

.text-section {
    margin-bottom: 40px;
   
}


.section-title {
    color: #b30000;
    font-weight: bold;
    font-size: 24px;
 
}

.section-text {
    font-size: 18px;
    line-height: 1.6;
}


.header {
      
    color: white;
    margin-top: 190px;
    margin-left: 70px;
    font-size: 40px;
    font-weight: bold;
}

/* Content Section */
.content-container {
    padding: 50px 15%;
}

h2 {
    color: #c00000;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

/* Background Pattern */
.header-pattern {
    background: rgb(164, 7, 7);
    padding: 40px;
    position: relative;
}

.header-pattern::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/cubes.png'); /* Example Pattern */
    opacity: 100;
}
