*{
    font-family: "Khmer", sans-serif;
    font-weight: 400;
    font-style: normal;
}
   body {
  
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 230px;
}

.navbarr {
    display: flex;
   
    margin-bottom: 20px;
}

.nav-button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
}

.nav-button.active {
    background-color: #ff0000;
    color: #fff;
}

.faculties {
    display: flex;
 
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

.faculty {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.contact-section {
    display: flex;
   
   

}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-info p {
    margin: 15px 200px;
    font-size: 14px;
    
}

.contact-info strong {
    font-size: 16px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.contact-form textarea {
    height: 100px;
    resize: vertical;
}

.contact-form button {
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #cc0000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}


